# Database (Supabase PostgreSQL via Prisma)
# Ganti [YOUR-PASSWORD] dengan password database Supabase Anda
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.qvuqdeloxrsaggseijhz.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.qvuqdeloxrsaggseijhz.supabase.co:5432/postgres"

# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL="https://qvuqdeloxrsaggseijhz.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
SUPABASE_SERVICE_ROLE_KEY="sb_secret_..."

# Security
JWT_SECRET="kompas_paskibra_super_secure_jwt_secret_key_2026"

# Groq Cloud API (Whisper STT & Llama 3) - Isi saat Groq selesai maintenance
GROQ_API_KEY=""
